/* Estilos generales */
.mainview {
  height: 100vh; /* Ocupa toda la ventana */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* No permite scroll aquí */
}  

.view-wrapper {
  /*margin-top: 20px;*/
  flex: 1; /* Ocupa el espacio restante */
  overflow: hidden; /* Previene scroll accidental */
}

/* Ajustes para la esquina superior derecha */
.logout {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
}

.user-name {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.logout-link {
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.logout-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Aviso de sesión expirada */
.session-warning {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

/* Evita el autozoom en móviles */
input {
  font-size: 16px; /* Evita que los navegadores móviles hagan zoom en inputs */
}

/* Overlay de cierre de sesión */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.status-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.success {
  color: green !important;
}

/* Animación fade para router-view */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.6s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}